.logo-login-img{
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 4% !important;
}

.form-heading-login{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 2%;
}
.centerForm-movil {
  padding: 10px;
  position: relative;
  min-height: 100vh;
}

.profileImage {
  border-radius: 50%;
}

.loginForm-movil {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.form-heading {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 1%;
}

.form-group {
  margin-bottom: 10px;
}

.form-control-input {
  width: 100%;
}

.new-btn-primary{
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
.new-btn-secondary {
  position: absolute;
  bottom: 6.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: auto;
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.alertMessage {
  margin-top: 3vh;
}

@media (max-width: 375px) { /* Media query para iPhone SE */
  .new-btn-primary{
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
  }
  .new-btn-secondary {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
  }
}
